@model IEnumerable<TrendPie.Models.User>

@{
    ViewBag.Title = "Pending Influencers";
}

@Html.Partial("_influencerMenu")

<div>
    @foreach (var user in Model)
    {
        <div>
            @user.FirstName @user.LastName
        </div>
        <div>
            D.O.B. @user.DOB
        </div>
        <div>
            @user.State @user.Country
        </div>
        <div>
            @Html.ActionLink("Profile >", "UserProfile", new {userID = user.Id}, new { htmlAttributes = new { @class = "btn btn-default"}})
        </div>
    }
</div>