@model IEnumerable<TrendPie.Models.User>

@{
    ViewBag.Title = "Pending Influencers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Partial("_influencerMenu")

<div>
    @foreach (var user in Model)
    {
        <div>
            @user.FirstName @user.LastName
        </div>
        <div>
            D.O.B. @user.DOB
        </div>
        <div>
            @user.State @user.Country
        </div>
        <div>
            <a href="@Url.Action("UserProfile", new {userID = user.Id})" class="btn btn-default">Profile ></a>
        </div>
    }
</div>