@model TrendPie.Models.DashboardIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="gradient30">
    <div class="db_earnWrapper">
        <div class="db_earnAmount thirtyfour">
            $14,250
            @Html.LabelFor(model => model.EarnedAllTime)
            <div class="earnLabel">
                earned all time
            </div>
        </div>
        <div class="db_earnAmount">
            $645
            @Html.LabelFor(model => model.EarnedPast30Days)
            <div class="earnLabel">
                past 30 days
            </div>
        </div>
        <div class="db_earnAmount">
            $120
            @Html.LabelFor(model => model.EarnedPast7Days)
            <div class="earnLabel">
                past 7 days
            </div>
        </div>
    </div>
    <div class="clearme"></div>
    <div class="db_chartWrap">
        <div class="chartContent">
            chart area
        </div>
    </div>
    <div class="db_tabWrap1">
        Live Now
    </div>
    <div class="clearme"></div>
    <div class="db_liveWrap">
        <div class="db_liveWrapInner">
            <div class="db_liveContentWrap">
                @Html.Partial("_campaignLiveList", Model.CampaignLiveList)
            </div>
        </div>
    </div>
    <div class="clearme"></div>
    <div class="db_blueWrap">
        <div class="db_tabWrap2">
            Completed
        </div>
        <div class="clearme"></div>
    </div>
    <div class="clearme"></div>
    <div class="grayBack">
        <div class="campaignContentWrap">
            @Html.Partial("_campaignCompleteList", Model.CampaignCompleteList)
        </div>
    </div>
</div>

