@model IEnumerable<TrendPie.Models.Campaign>

@{
    ViewBag.Title = "Pending Campaigns";
}

<div>
    @Html.Partial("_campaignMenu")
</div>

<div class="grayBack">
    <div class="campaignContentWrap">
        @if (Model.Any())
        {
            foreach (var campaign in Model)
            {
                <div class="campaignOpenItemWrap">
                    <div class="campaignName">
                        @campaign.Name
                    </div>
                    <div class="campaignStart">
                        <span class="timeLable">Starts:</span> @campaign.ShortStartDate
                    </div>
                    <div class="campaignEnd">
                        <span class="timeLable2">ENDING:</span> @campaign.ShortEndDate
                    </div>
                    <div class="optWrapper">
                        @Html.ActionLink("Apply Now", "Accept", new { campaignID = campaign.Id })
                    </div>
                    <div class="clearme"></div>
                    <div class="space20"></div>
                </div>
                <div class="clearme"></div>
            }
        }
        else
        {
            <div>No records found</div>
        }
    </div>
    <div class="clearme"></div>
    <div class="space25"></div>
</div>

